* {
	box-sizing: border-box;
}
.active-nav {
	color: blue;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.block {
	margin: 100px auto;
	border: 1px solid black;
	border-radius: 10%;
	width: 600px;
	height: 600px;
}
.block__box {
	padding: 20px;
}
.block__nav {
	display: flex;
	gap: 10px;
}
.block__content {
	width: 100%;
}
.btn {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.nav__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img__box img {
	height: 350px;
	width: 100%;
	object-fit: cover;
}
.btn__box {
	display: flex;
	justify-content: space-between;
}

.form-select {
	width: 200px;
	margin: 10px 0;
	padding: 10px;
	border: 2px solid #007bff;
	border-radius: 5px;
	background-color: white;
	outline: none;
	cursor: pointer;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	appearance: none;
	-webkit-appearance: none;
}

.form-select::-ms-expand {
	display: none;
}

.form-select {
	background: url('data:image/svg+xml;utf8,<svg fill="%23007bff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
		no-repeat right 10px center;
}

.form-select:focus {
	border-color: #0056b3;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.breedsImages {
	height: 350px;
}
.box {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.box__img {
	width: 25%;
	height: 100px;
	padding: 5px;
	object-fit: cover;
}
